<h2>Where Are you Going Today?</h2>


<div class="col-xs-12 col-sm-12 col-md-12">
<h2>Plan a Route</h2>
<div class="form-group">
	<!--Enter the departure Station-->
	<label for="departureInput">Leaving From:</label>
	<input 	list='stations'
			class="form-control" 
			id="departureInput"
			name="departureInput" 
			placeholder="departure station, e.g. PDX..."
			[(ngModel)]="nav.start">
	<datalist id='stations' name='stations'>
		<option *ngFor="#station of nameListService.getStations()"
				value="{{station.id}}">{{station.name}}
		</option>
	</datalist>

	<!--Enter the arrival Station-->
	<label for="arrivalInput">Going To:</label>
	<input 	list='stations'
			class="form-control" 
			id="arrivalInput" 
			name="arrivalInput"
			placeholder="departure station, e.g. Rose Garden..."
			[(ngModel)]="nav.end">
	<datalist id='stations' name='stations'>
		<option *ngFor="#station of nameListService.getStations()"
				value="{{station.id}}">{{station.name}}
		</option>
	</datalist>

	<!--Optional Values-->
	<h4 (click)='navOptions=!navOptions'>Date & Time (Optional):</h4>
	<div *ngIf="navOptions" class="row">
		<div class="row">
			<label for="directionInput"></label>
			<input 	type="radio"
					name="directionInput"
					class='radioBtn'
					(change)='setDirection("arrv")'
					>Arrives at
			<input 	type="radio"
					name="directionInput"
					class='radioBtn'
					(change)='setDirection("dprt")'
					checked>Departs at <br>
			
			<label for="timeInput">Time:</label>
			<input 	type="date"
					class="form-control"
					min="{{tempDate}}" 
					value="{{tempDate}}"
					[(ngModel)]="tempDate"
					(blur)="setDate(tempDate)">
			<input 	type="time" 
					class="form-control" 
					id="timeInput" 
					name="timeInput"
					value="{{tempTime}}"
					step="60"
					[(ngModel)]="tempTime"
					(blur)="setTime(tempTime)">
		</div>
	</div>
	<!--Submission button-->
	<label for="submit"></label>
	<input 	class="btn btn-success btn-block" 
			type="submit" 
			id="submit"
			name="submit" 
			value="Submit"
			(click)="submitBookends({
				start: nav.start,
				end: nav.end,
				dirctn: nav.dirctn,
				wkday: nav.wkday,
				time: nav.time
			})">
	
	
</div>
</div>

<h2>Choose a Train Line</h2>
<ul>
  <li 	*ngFor="#name of nameListService.getTrains()"
  		(click)="submitTrain(name.short, name.long)">{{name.long}}</li>
</ul>

<br>
<br>
